:root {
    --text-shadow-hover: 0 0 1px, 0 0 3px;
}

.head {
    overflow: auto;
    font-size: large;
}

.intro {
    text-shadow: var(--text-shadow-hover) #ccc;
}

.github a, .linkedin a, .spotify a, .mail a {
    text-decoration: none;
    color: #aaa;
}

.github a:hover, a.github:visited,
.linkedin a:hover, a.linkedin:visited,
.spotify a:hover, a.spotify:visited,
.mail a:hover, a.mail:visited {
    text-shadow: var(--text-shadow-hover);
}

.github a:hover, a.github:visited {
    color: #6e5494;
}

.linkedin a:hover, a.linkedin:visited {
    color: #0077b5;
}

.spotify a:hover, a.spotify:visited {
    color: #1ed760;
}

.mail a:hover {
    color: #54daff;
}

a.mail:visited {
    color: #0078d4;
}